/* ==================================================
   Alerts
================================================== */

.alert {
  	margin-bottom: 20px;
  	padding: 15px 35px 15px 15px;
	border: none;
	text-shadow: none;
  	-webkit-border-radius: 0px;
       -moz-border-radius: 0px;
          	border-radius: 0px;
  	background-color: #DBA571;
}

.alert,
.alert h4 {
	color: #FFFFFF;
}

.alert h4 {
  	margin: 0;
}

.alert .close {
 	position: relative;
  	top: 2px;
  	right: -22px;
  	line-height: 20px;
	color: #FFFFFF;	
	text-shadow: none;
	
	-webkit-transition: opacity 0.1s linear 0s;
	-moz-transition: opacity 0.1s linear 0s;
	-ms-transition: opacity 0.1s linear 0s;
	-o-transition: opacity 0.1s linear 0s;
	transition: opacity 0.1s linear 0s;
}

.alert .close:hover {
	opacity: 1;	
}

.alert-standard {
  	background-color: #3C3F45;
}

.alert-success {
  	background-color: #1F7F5C;
}

.alert-danger,
.alert-error {
  	background-color: #E56C69;
}

.alert-info {
  	background-color: #5A9AA8;
}


.alert-block {
  	padding-top: 14px;
    padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
  	margin-bottom: 0;
}

.alert-block p + p {
  	margin-top: 5px;
}