@import molecules/textos
@import organisms/historic

.professional
	+flexbox
	+align-items(center)
	+justify-content(space-around)
	margin: 115px 0 115px 0	
	text-align: center
	+make-sm-column(6)
	.chronological-table
		width: 500px
		height: 400px
		+gradient(90deg, $quadro1, $quadro2)

.academic
	+flexbox
	+align-items(center)
	+justify-content(space-around)
	margin: 115px 0 115px 0	
	text-align: center
	+make-sm-column(6)
	.curricular-table
		width: 500px
		height: 400px
		+gradient(90deg, $quadro2, $quadro1)