@import organisms/about
@import molecules/textos

header
	height: 260px
	min-height: 215px !important
	margin: 0 0 25px
	background:
		image: url('../images/fundo_topo_hero.jpg')
		position: top center
		repeat: no-repeat
		color: $preto
		attachment: fixed


avatar
	.avatar-bottom
		+gradient(90deg, $degrade1, $degrade2)

main
	.about
		+gradient(90deg, $degrade1, $degrade2)

	.skill
		+gradient(90deg, $light-grey1, $light-grey2)
	.presentation
		background: $branco
