section.presentation
	.hero
		+flexbox
		+align-items(center)
		+justify-content(space-around)
		margin: 0 0 0 0
		text-align: center
		+make-sm-column(5)
		height: 600px

		+breakpoint($celular)
			+make-sm-column(12)

	.description
		margin: 0 0 0 0
		padding: 70px 0 0 0
		height: 600px
		+make-sm-column(7)
		text-align: left
		bottom: 0

		+breakpoint($celular)
			+make-sm-column(12)

		p
			+font-size(30px)
		
	img.foto-pessoal
  		position: absolute
  		bottom: 0
  		vertical-align: bottom